
*{
font-family:PingFang SC;color:#333333;font:20px ;font-weight:100;
}

QListWidget{
border:1px solid #616161;
border-radius:3px;
}

QTreeView{
border:1px solid #616161;
border-radius:3px;
}

QPushButton{
background: #f1f1f1;
border:1px solid #616161;
border-radius:3px;
}
QPushButton#pushButton_2{
font-weight:700;
border:1px solid #616161;
border-radius:3px;}

QListWidget::item{
border:0px;
margin-right:0px;
margin-left:0px;
padding:0px;
}
QScrollBar:vertical{
width:10px;
}
QComboBox{
    background:#f0f0f0;
    border:1px solid #333333;
    border-radius:10px;
}
QComboBox QAbstractItemView{
background:#f0f0f0;
border:1px solid #333333;
border-radius:10px;
}
