
*{
font-family:"Source Han Sans CN";color:#333333;font:20px ;font-weight:medium;
}

QLabel#label_2{
font-weight:bold;
}
QLabel#label_3{
font-weight:medium;
}
QLabel#label_4{
font-weight:normal;
}
QListWidget{
border:1px solid #616161;
border-radius:3px;
}

QTreeView{
border:1px solid #616161;
border-radius:3px;
}

CPushButton{
background: #e1e1e1;
border:1px solid #616161;
border-radius:3px;
qproperty-icon:url(:/image/fileinfo-128.png);
qproperty-iconHover:url(:/image/sfileinfo-128.png);
qproperty-iconPressed:url(:/image/pfileinfo-128.png);
qproperty-iconChecked:url(:/image/cfileinfo-128.png);
qproperty-iconDisabled:url(:/image/dfileinfo-128.png);
qproperty-iconPosition:20;
qproperty-iconTextSpace:20;
qproperty-textColor:#303030;
qproperty-textColorHover:red;
qproperty-textColorPressed:blue;
qproperty-textColorChecked:green;
qproperty-textColorDisabled:gray;
}
CPushButton::hover{
background: #d1d1d1;
border:2px solid #616161;
border-radius:3px;
font:white;
}
QListWidget::item{
border:0px;
margin-right:0px;
margin-left:0px;
padding:0px;
}
QScrollBar:vertical{
width:10px;
}
CCombobox{
    background:#f0f0f0;
    border:1px solid #818181;
    border-radius:5px;
    color:#333333;
    font:16px;
}
CCombobox QAbstractItemView{
    background:transparent;
    border:1px solid #818181;
    border-radius:5px;
    outline:0px;
    color:#515151;
    font:16px;

}
CCombobox QAbstractItemView::item {
    height:40px;
    background:#00ffff;
}
CCombobox QAbstractItemView::item:selected,CCombobox QAbstractItemView::item:hover{
    background:#f6e5db;
    color:red;
    font:18px;
    border:none;
    border-radius:5px;
}
CCombobox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width:25px;
    border-left-width: 0px;
    border-left-color: gray;
    border-left-style: solid;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
CCombobox::down-arrow {
    image: url(:/image/downArrowGray.png);
}

